.controller {
  background: url('https://raw.githubusercontent.com/EjKejEj/Gamepad-Viewer-skins/main/Atari%202600/base.png') no-repeat;
  width: 894px;
  height: 894px;
  position: relative;
}

.button-0.pressed {
  background: url('https://raw.githubusercontent.com/EjKejEj/Gamepad-Viewer-skins/main/Atari%202600/button_pressed.png') no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 894px;
  height: 894px;
  pointer-events: none;
}

.stick-0.up.pressed::after {
  content: '';
  background: url('https://raw.githubusercontent.com/EjKejEj/Gamepad-Viewer-skins/main/Atari%202600/arrow_up.png') no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 894px;
  height: 894px;
  pointer-events: none;
}

.stick-0.down.pressed::after {
  content: '';
  background: url('https://raw.githubusercontent.com/EjKejEj/Gamepad-Viewer-skins/main/Atari%202600/arrow_down.png') no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 894px;
  height: 894px;
  pointer-events: none;
}

.stick-0.left.pressed::after {
  content: '';
  background: url('https://raw.githubusercontent.com/EjKejEj/Gamepad-Viewer-skins/main/Atari%202600/arrow_left.png') no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 894px;
  height: 894px;
  pointer-events: none;
}

.stick-0.right.pressed::after {
  content: '';
  background: url('https://raw.githubusercontent.com/EjKejEj/Gamepad-Viewer-skins/main/Atari%202600/arrow_right.png') no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 894px;
  height: 894px;
  pointer-events: none;
}
